body {
  background-color: #223051;
}

b {
  color: #D31E1E;
  -webkit-text-stroke: 1px red;
}

button.menu {
  background-color: #00000000;
  border: 0px;
  width: 72px;
  height: 72px;
  margin: 3px;
  padding: 4px;
  cursor: pointer;
  display: block;
}

dialog *,
button {
  -webkit-user-select: none;
  user-select: none;
}

.sans-serif {
  font-family: sans-serif;
}

#plaintext-display {
  display: block;
  overflow: hidden;
  width: 290px;
  height: 80px;
  background-color: #190000;
  color: #300808;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 20px;
}

.key-button {
  display: block;
  overflow: hidden;
  width: 80px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  background-color: #101010;
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.5pt;
  border: outset 5px #444;
  border-radius:6px;
  padding-top: 6px;
  padding-bottom: 3px;
  cursor: pointer;
}

.odd-row {
  padding-top: 24px;
  padding-bottom: 0px;
}

.key-button .odd-row:first-of-type {
  margin-left: 55px;
}
      
.keypad {
  display: block;
  overflow: hidden;
  width: 330px;
  height: auto;
  margin-top: -20px;
  margin-left: 40px;
  text-align: center;
}

.float-right {
  float: right;
}

.button-function    {
  font-size: 1.1em;
}

span.digit {
  font-size: 2.4em;
  font-weight: bold;
}

.power-button {
  color: rgba(0, 0, 0, 0);
  background-color: #555555;
  font-size: 3em;
}

.power-button-row td {
  text-align: left;
  width: 50px;
}

.power-button-row td:first-of-type {
  text-align: right;
}

.power-button.active {
  color: rgba(0, 0, 0, 0);
  background-color: #171717;
}

.power-button.right {
  border-style: inset;
}

.power-led {
  color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  border: 0px;
  background-color: #6D1D1D;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.power-led.active {
  border: 1px solid white;
  background-color: red;
  border-radius: 20px;
}

.led-area {
  color: white;
  margin-top: 15px;
  margin-left: 20px;
}

.power-area table {
  background-color: #222222;
  border: 3px solid #444444;
}

.basic-interface {
  display: none;
}

.hidden {
  display: none;
}

aside.menu-bar {
  display: block;
  overflow: hidden;
  min-width: 60px;
  max-width: 90px;
  height: 100%;
  background-color: #b8eaff82;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-family: sans-serif;
  padding: 2px;
  margin: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  border-left: 3px solid #222222;
}

button.menu:hover {
  background-color: #00000022;
  border-radius: 20px;
  border: 1px solid #FEFEFE88
}
