:root {
  --resistor-black: #0F0F0F;
  --resistor-brown: #754E3C;
  --resistor-red: #CF2027;
  --resistor-orange: #D86F21;
  --resistor-yellow: #ECE70C;
  --resistor-green: #0A8C44;
  --resistor-blue: #3B6DD1;
  --resistor-violet: #8920E5;
  --resistor-grey: #777777;
  --resistor-white: #F0F0F0;
}

.r2 .band-1,
.r2 .band-3 {
  fill: var(--resistor-brown);
}

.r2 .band-2 {
  fill: var(--resistor-green);
}

#power-led-glow,
.power-switch g,
.dip-switch:not(.on)>.dip-on,
.dip-switch.on>.dip-off {
  opacity: 0;
}

#power-led-glow.on,
.power-switch.off #power-switch-off,
.power-switch.on #power-switch-on,
.dip-switch.on>.dip-on {
  opacity: 1;
}

.power-on #power-led-body {
  fill: #DD1717;
}

.power-on #power-led-glare {
  fill: #FF5555;
}

.power-on #power-led-deep {
  fill: #DD1717;
}

.seven-segment-display.a>.a,
.seven-segment-display.b>.b,
.seven-segment-display.c>.c,
.seven-segment-display.d>.d,
.seven-segment-display.e>.e,
.seven-segment-display.f>.f,
.seven-segment-display.g>.g,
.seven-segment-display.dp>.dp {
  fill: #db2638;
}

.trainer-simulation {
  margin-top: 12px;
  display: block;
  margin-left: auto;
  max-width: 2000px;
}

svg {
  width: 800px;
}

.examine-mode .examinable {
  filter:
    drop-shadow(1px 1px 2px rgba(30, 200, 70, 0.35))
    drop-shadow(-1px -1px 2px rgba(30, 200, 70, 0.35))
    drop-shadow(1px -1px 2px rgba(30, 200, 70, 0.35))
    drop-shadow(-1px 1px 2px rgba(30, 200, 70, 0.35))
    brightness(1.1);
  transition: filter 0.5s;
}

.examine-mode .examinable:hover {
  filter:
    drop-shadow(1px 1px 2px rgba(30, 200, 70, 0.7))
    drop-shadow(-1px -1px 2px rgba(30, 200, 70, 0.7))
    drop-shadow(1px -1px 2px rgba(30, 200, 70, 0.7))
    drop-shadow(-1px 1px 2px rgba(30, 200, 70, 0.7))
    brightness(1.3);
  transition: filter 0.5s;
  transform-origin: center;
  transform-box: fill-box;
  scale: 1.1;
  cursor: pointer;
}

.examine-mode g:not(.examinable) {
  filter: brightness(0.9);
}

#examine-dialog {
  max-width: 60%;
  max-height: 85%;
}


